/*
used colors for menu eeb213
replace with 0f9
*/
.bmenu{
    padding: 0px;
    margin: 30px 0 20px 0;
    position: relative;
}
.bmenu li{
    font-size: 15px;
    display: block;
}
.bmenu li a{
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #0f9;
	color: #0f9;
	padding: 5px 20px;
	margin: 2px;
	background-color:#622326;
	letter-spacing: 1px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.bmenu:hover li a{
	text-shadow: 0px 0px 10px #0F9;
	color: ;
	background: rgba(98,35,38,0.9);
}
.bmenu li a:hover{
	margin-left:10px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: rgba(98,35,38,0.9);
	text-shadow: 0px 0px 1px #0F9;
}