@charset "utf-8";
/* Backend CSS Document */
a{
	text-decoration:underline;
	color:#FF0;
}

a:hover{
	text-decoration:underline;
	color:#FF0;
}

#header{
	top:0px;
	width:100%;
	height:100px;
	background-color:#00CC99;
}

#header_content{
	margin-left:550px;
	font-size:36px;
}

#body{
	height:100%; 
	width:100%;
	float:left;
	margin: 0;
    padding: 0;
    border: 0;
}

#left_content{
	width:20%;
	height:700px;
	background-color:#0099FF;
	float:left;
}

#left_menu{
	margin-top:10px;
	margin-left:20px;

}

#right_content{
	width:80%;
	height:700px;
	background-color:#393;
	float:left;
}

#content{
	margin-top:10px;
	margin-left:20px;
}
#tranMain{
	width:100%;
}
#tranLeft{
	float:left;
	width:26%;
	padding-right:20px;
}
#tranMid{
	float:left;
	width:15%;
	padding-right:10px;
}
#tranRight{
	float:right;
	width:51%;
	padding-right:5px;
}

#footer{
	float:left;
	height:50px;
	background-color:#00cc99;
	width:100%;
	left:0px;
	bottom:0px;
	text-align:center;
}