@import url('reset.css');
/* General Demo Style */
body{
	margin-left:auto;
	margin-right:auto;
	background-color: whitesmoke;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
	color: #000;
	font-family: 'Josefin Slab', Arial, sans-serif;
	font-size: 20px;
}
.container{
	position:relative;
	background: whitesmoke;
}
a{
	color: #0f9;/*#fff */
	text-decoration: none;
}
.clr{
	clear: both;
}

h1{
	margin:0px;
	padding:20px;
	font-size:42px;
	color:#000;
	text-align:left;
	font-weight:400;
    text-align:left;
}
h1 span{
	font-size:22px;
	color:#000;
	padding-top:10px;
}
/* Header Style */
.header{
	width: 100%;
	height: 80px;}
.header{
	font-family:'Arial Narrow', Arial, sans-serif;
	line-height: 50px;
	font-size: 15px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #0f9; /*change colors #ddd*/
	display: block;
	float: left;
}
.header a:hover{
	color: #0f9;/*#fff*/
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}
.lcontent{
	position: relative;
    width:12%;
    margin: 0px 5px;
	float:left;
	opacity:0.9;
	
	padding-bottom:100px;
}
.rcontent{
	width:84%;
	margin:0px 5px;
	float:left;
	overflow:auto;
	padding-bottom:100px;
}
#contentbox{
	width:90%;
	height: 400px;
	margin: 20px;
	background-color:#FFFFFF;
	border-radius:15px;
	-moz-border-radius: 15px;
	-moz-box-shadow:    1px 2px 5px 1px #000;
    -webkit-box-shadow: 1px 2px 5px 1px #000;
    box-shadow:         1px 2px 5px 1px #000;
	opacity: 0.9;
}
.mcontent{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}
#data{
	padding-left:20px;
	padding-top:10px;
}
.footer{
	position:relative;
	text-align:center;
	width: 100%;
	height: 100px;
	margin-top:-100px;
	color:#0f9;
	font-size:15px;
	opacity: 0.9;
	z-index: 9999;
	bottom:0px;
	background: #000;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	clear:both;
}